In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dataset = pd.read_csv('/content/london_weather.csv')

In [ ]:
dataset

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
15338,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [ ]:
from sklearn.impute import SimpleImputer
mean_imputer = SimpleImputer(strategy='mean')

data = pd.DataFrame(mean_imputer.fit_transform(dataset), columns=dataset.columns)
data

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101.0,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.000000
1,19790102.0,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.000000
2,19790103.0,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.000000
3,19790104.0,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.000000
4,19790105.0,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.000000
...,...,...,...,...,...,...,...,...,...,...
15336,20201227.0,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,0.037986
15337,20201228.0,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,0.037986
15338,20201229.0,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,0.037986
15339,20201230.0,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,0.037986
15340,20201231.0,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,0.037986

In [ ]:
from sklearn.model_selection import train_test_split
X = data.drop(['max_temp'], axis=1)
y = data['max_temp']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

X_train_new=scaler.fit_transform(X_train)
X_test_new=scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train_new,y_train)

LinearRegression()

In [ ]:
y_pred=model.predict(X_test_new)

In [ ]:
y_pred

array([22.74711241, 13.21694618, 11.9337468 , ..., 11.88166128,
        8.04713747, 20.64184558])

In [ ]:
y_test

4957     26.6
13098    13.6
12380    12.6
1813     10.7
15174    26.4
         ...
8887     16.9
5637     15.8
6150     11.3
14593     9.4
9571     18.6
Name: max_temp, Length: 4603, dtype: float64

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Calculate MAE
mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:', mae)

# Calculate RMSE
rmse = mean_squared_error(y_test, y_pred, squared=False)
print('Root Mean Squared Error:', rmse)

Mean Absolute Error: 1.7372913859229306
Root Mean Squared Error: 2.347446431485923

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8734650442348093

In [ ]:
X_new = np.array([[19790101,	2.0,	7.0,	52.0,	-4.1,	-7.5,	0.4	,101900.0	,9.0]])
X_new_scaled = scaler.transform(X_new)
y_pred1 = model.predict(X_new_scaled)

print(y_pred1)

[0.23462635]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(